/* For Bootstrap*/
.well h4 {
  margin-top: 0;
}

/* Application specific */
html, body {
  background-color: #000;
  color: #FFF;
}
.well {
  color: #000;
}

.lookie-thumb {
  float: left;
  width: 200px; 
  height: 200px; 
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
}

.lookie {
  height: 100vh; /* The height of the viewport. Requires JS calc for older browsers */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
}

.tag {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  font-size: 20px;
}