/* For Bootstrap*/
.well h4 {
  margin-top: 0;
}
.clickable {
  cursor: pointer;
}

/* Application specific */
html, body {
  background-color: #000;
  color: #FFF;
}

.logo-home {
  position:fixed;
  background:#e1563f;
  font-size: 5em;
  font-size: 7vmin;
  padding: 1.5em 2em 1em;
  padding: 2vmin 3vmin 1vmin;

}
  .logo-home a {
    color: #FFF;
    display: inline-block;
    line-height: 1;
  }

.next-lookie a {
  position:fixed;
  right: 0;
  bottom: 0;
  background: #6de13f;
  color: #FFF;
  font-size: 5em;
  font-size: 7vmin;
  padding: 1.5em 2em 1em;
  padding: 2vmin 3vmin 1vmin;
}
  .next-lookie a:focus,
  .next-lookie a:active,
  .next-lookie a:hover {
    background: #56cc27;
  }

.well {
  color: #000;
}

.lookie-thumb {
  float: left;
  width: 200px; 
  height: 200px; 
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
}

.lookie {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tag {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  font-size: 5em;
  font-size: 5vmin;
  opacity: .6;
  transform: translate(-50%, -50%);
}

.tag:hover,
.tag:active,
.tag:focus {
  opacity: 1;
}
.create-tag-product-form-wrap {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.create-tag-product-form {
  position: relative;
  top: -3em;
  left: -50%;
}
