html, body {
  background-color: #000;
  color: #FFF;
}

.lookie-thumb {
  float: left;
  width: 200px; 
  height: 200px; 
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
}

.lookie {
  height: 100vh; /* The height of the viewport. Requires JS calc for older browsers */
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: 50% 50%; /* This could be improved with after identifying the area of interest */
}