
{{!-- not sure how this should look styles here for now --}}
<div class="edit-tag-dialog-product-form-wrap">
  <div class="edit-tag-dialog-product-form well">

    {{!-- <h4>
      Create Tag
    </h4> --}}
    <form class="form-horizontal" {{action "saveTag" on="submit"}}>
      <div class="input-group">
        {{input type="text" class="form-control" autofocus=true
            value=productURL 
            placeholder='Enter a prod id like "1305_8766_012"'}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Save</button>
        </span>
      </div>
      <a {{action "deleteTag"}}>Delete Lookie</a>

    </form>
    <a {{action "closeEditTagDialog" this}} class="del-lookie glyphicon glyphicon-remove-circle"></a>

  </div>
</div>
