
{{#if isTagging}}
  {{view "create-tag"}}
{{/if}}
{{!-- 
<hr>
 --}}

{{#view "taggable"}}
  <div class="lookie" {{bind-attr style="model.backgroundUrl"}}></div>
  {{#each tag in model.tags}}
    {{lookie-tag ratioFromLeft=tag.ratioFromLeft ratioFromTop =tag.ratioFromTop
       leftBlackBarWidth=view.leftBlackBarWidth  topBlackBarHeight=view.topBlackBarHeight
       lookieWidth=view.lookieWidth              lookieHeight=view.lookieHeight
    }}
  {{/each}}
{{/view}}
