<div class="container">
  <h2 id='title'>Welcome to {{#link-to 'lookies'}}Lookies{{/link-to}}!</h2>

  <form class="form-horizontal" {{action "createLookie" on="submit"}}>
    <div class="input-group">
      {{input type="text" class="form-control" autofocus=true
          value=newLookieURL 
          placeholder="Enter a Lookie URL"}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Save</button>
      </span>
    </div>
  </form>
</div>

<div class="container" style="margin-top:1em">
  {{#each}}
    {{#link-to 'lookie' id}}
      <span class="lookie-thumb" {{bind-attr style="backgroundUrl"}}></span>
    {{/link-to}}
  {{/each}}
</div>
