
{{!-- 
{{view "create-tag"}}
<hr>
 --}}
{{#each tag in model.tags}}
  {{lookie-tag left=tag.ratioFromLeft top=tag.ratioFromTop}}
{{/each}}

{{#view "taggable"}}
  <div class="lookie" {{bind-attr style="model.backgroundUrl"}}></div>
{{/view}}
