{{#view "taggable" styleBinding="model.backgroundUrl"}}
  {{#each tag in model.tags}}
    {{lookie-tag ratioFromLeft=tag.ratioFromLeft ratioFromTop =tag.ratioFromTop
       leftBlackBarWidth=view.leftBlackBarWidth  topBlackBarHeight=view.topBlackBarHeight
       lookieWidth=view.lookieWidth              lookieHeight=view.lookieHeight
       productHref=tag.product
       action="navigateToTag"
    }}
  {{/each}}
{{/view}}

<div class="logo-home">
  {{#link-to 'lookies'}}<span class="glyphicon glyphicon-eye-open"></span>{{/link-to}}
</div>

<div class="next-lookie">
  {{#link-to 'lookies'}}<span class="glyphicon glyphicon-arrow-right"></span>{{/link-to}}
</div>

<label class="is-editing well clickable" style="position:fixed;right:0">
    {{input type="checkbox" name="isEditing" checked=isEditing}}
    Edit
</label>

{{#if isTagging}}
  {{view "create-tag"}}
{{/if}}
