<form class="form-horizontal" {{action "createLookie" on="submit"}}>
  <div class="input-group">
    {{input type="text" class="form-control" autofocus=true
        value=newLookieURL 
        placeholder="Enter a Lookie URL"}}
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Save</button>
    </span>
  </div>
</form>

<h3>
  A list of lookies
</h3>

{{#each}}
  {{#link-to 'lookie' id}}
    <span class="lookie-thumb" {{bind-attr style="backgroundUrl"}}></span>
  {{/link-to}}
{{/each}}

<hr style="clear:left"/>

{{outlet}}
