<form class="form-horizontal" {{action "createLookie" on="submit"}}>
  <div class="input-group">
    {{input type="text" class="form-control" autofocus=true
        value=newLookieURL 
        placeholder="Enter a Lookie URL"}}
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Save</button>
    </span>
  </div>
</form>

______
A list of lookies

